{% extends "base.html" %}
{% block content %}
        <p>Sua origem é.: <strong>{{ form.origem.value }}</strong></p>
        <p>Seu destino é.: <strong>{{ form.destino.value }}</strong></p>
        <p>Sua data de ida é.: <strong>{{ form.data_ida.value }}</strong></p>
        <p>Sua data de volta é.: <strong>{{ form.data_volta.value }}</strong></p>
        <p>Pesquisa realizada em.: <strong>{{ form.data_pesquisa.value }}</strong></p>
        <p>Classe escolhida.: <strong>{{ form.classe_viagem.value }}</strong></p>
        <p>Seus adicionais.: <strong>{{ form.adicionais.value }}</strong></p>
        <p>Seu e-mail.: <strong>{{ form.email.value }}</strong></p>

{% endblock %}
        